<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michael.fantasyheadtoheadgame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/fantasy_showdon"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ActivityScreens.MainHub"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityScreens.Register" />
        <activity android:name=".ActivityScreens.SearchPlayers" />
        <activity
            android:name=".ActivityScreens.Login"
            android:label="@string/title_activity_user_home_screen"
            android:theme="@style/Theme.AppCompat"
            android:noHistory="true" />
        <activity
            android:name=".ActivityScreens.UserTeamScreen"
            android:label="@string/title_activity_main_hub"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityScreens.UserContests"
            android:label="@string/title_activity_user_matches"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityScreens.SpecifiedUserContest"></activity>
    </application>

</manifest>