<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michael.fantasyheadtoheadgame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fantasy_showdon"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainHub"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Register" />
        <activity android:name=".SearchPlayers.SearchPlayers" />
        <activity
            android:name=".Activities.Login"
            android:label="@string/title_activity_user_home_screen"
            android:noHistory="true" />
        <activity
            android:name=".TestHomeScreen"
            android:label="@string/title_activity_main_hub"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserMatches"
            android:label="@string/title_activity_user_matches"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SpecifiedUserContest"></activity>
    </application>

</manifest>